<div class="row">
  <div class="col-md-12 offset-md-2" >
    <input type="text" [(ngModel)]="author" style="margin:5px;">
    <button class="btn btn-primary" (click)="onSearchByAuthor()" style="margin:5px;">Search by Author</button>
    <button class="btn btn-warning" (click)="onGetAllBooks()" style="margin:5px;">Get all Books</button>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <app-book-list></app-book-list>
  </div>
  <div class="col-md-5">
    <router-outlet></router-outlet>
  </div>
</div>

