<div class="row">
  <div class="col-md-12 offset-md-2" >
    <input type="text" [(ngModel)]="name" style="margin:5px;">
    <button class="btn btn-primary" style="margin:5px;" (click)="onSearchReader()">Search Reader</button>
    <button class="btn btn-warning" style="margin:5px;" (click)="onGetAllReaders()">Get all Readers</button>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <app-reader *ngFor="let readerEl of readers" [reader]="readerEl"></app-reader>
  </div>
</div>
