<div class="details" *ngIf="book">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{book.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Author: {{ book.author}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Available: {{ book.available}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Isbn: {{ book.isbn}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Bookshelf: {{ book.catalog.bookshelf}}</h4>
    </div>
  </div>
</div>

