<a style="cursor: pointer;"
  class="list-group-item clearfix"
  [routerLink]="[index]"
  routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ book.name }}</h4>
    <p class="list-group-item-text">{{ book.author }}</p>
  </div>
</a>

