<div class="row" *ngIf="books.length !== 0">
  <div class="col-xs-12">
    <ul class="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="viewport" >
          <app-book-list-item
          *cdkVirtualFor="let bookEl of books; let i = index"
          [book]="bookEl"
          [index]="i">
        </app-book-list-item>
      </cdk-virtual-scroll-viewport>
    </ul>
  </div>
</div>
<div class="row" *ngIf="books.length === 0">
  <div class="col-xs-12">
    <h3 style="margin:100px">There are no Books!</h3>
  </div>
</div>


